<div class="mb-3">
  <%= f.label :government_code, "Codi administració pública" %>
  <%= f.text_field :government_code, class: "form-control" %>
</div>

<div class="mb-3">
  <%= f.label :total, "Total amb IVA" %>
  <%= f.number_field :total, class: "form-control", step: 0.01 %>
</div>

<p class="text-muted">Estàs generant una FacturaE per a entitats públiques.</p>
